

// sass stands for Syntactically Awesome Stylesheet · Sass is an extension to CSS · Sass is a CSS pre-processor · 

$color:brown; 
$color2: red;
h1{
   background-color: $color;
   height: 200px;
}

h2{
   background-color: $color;
   height: 200px;
}

h3{

   background-color: $color2;
   height: 200px;
}


